* {
   margin: 0;
   padding: 0;
   font-family: "Suisse Intl", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#navbar {
   height: 100px;
   background: white;
   border-bottom: 1px solid;
}
#topBar {
   height: 20%;
   display: flex;
   justify-content: end;
   gap: 1.5%;
   font-size: 12px;
   padding: 1% 2% 0 0;
}
#topBar>div {
   width: auto;
   text-align: center;
   margin-bottom: auto;
   margin-top: 2px;
}
#help {
   cursor: pointer;
}
#topBar>div:last-child {
   background-color: black;
   font-weight: bold;
   padding: 3px 10px;
   margin-top: 0px;
   text-decoration: none;
}
#bottomBar {
   height: 70%;
   display: flex;
   align-items: center;
   justify-content: space-around;
}
#bottomBar>div:first-child {
   width: 21%;
   display: flex;
   gap: 3%;
   justify-content: space-around;
   text-decoration: none;
   color: black;
}
#bottomBar>div:first-child>div:first-child {
   font-size: 37px;
   font-weight: 800;
   margin-left: 5%;
}
#bottomBar>div:first-child>div+div {
   margin: auto;
   margin-left: 7%;
   margin-bottom: 5%;
}
#bottomBar>div:last-child {
   width: 71%;
   height: 63%;
   border: 1px solid black;
   display: flex;
   justify-content: space-around;
   align-items: center;
}
#bottomBar>div:last-child>input {
   width: 90%;
   height: 70%;
   margin-left: -3%;
   border: 0;
   outline: 0;
   font-size: 16px;
   padding: 0 16px 0 2px;
}
a {
   text-decoration: none;
   color: black;
}
.underline>a:hover {
   text-decoration: underline;
}
#topBar>div:last-child>a {
   color: white;
}
#myModal {
   height: 500px;
   display: flex;
   background: white;
}
#left {
   width: 100%;
   height: 104%;
   border-right: 1px solid black;
   border-left: none;
   border-top: none;
   padding: 15px 50px 0px 50px;
   overflow-y: scroll;
   scroll-behavior: smooth;
   position: relative;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 11px -1px;
}
#right {
   width: 20%;
   height: 107%;
   margin: auto;
   padding: 0 10px 0 10px;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 11px -1px;
   background: linear-gradient(rgb(199, 199, 232), white, rgb(235, 235, 235));
}
#right>div {
   margin-bottom: 25px;
}
button {
   width: 100%;
   padding: 4.5%;
   font-size: 18px;
   color: white;
   border: 3px solid black;
   background: black;
   font-weight: bold;
}
button:hover {
   background: white;
   color: black;
}
#right>div:last-child {
   text-align: center;
}
#right>div:last-child>img {
   margin-bottom: 40px;
}
#right>div:first-child {
   display: flex;
   justify-content: flex-end;
}
#right>div:first-child>div {
   font-size: 22px;
   margin-top: 10px;
   width: 10%;
   text-align: center;
   border-radius: 50%;
   background-color: white;
}
#right>div:nth-child(2)>div:nth-child(1) {
   font-size: 22px;
}
#rating {
   display: flex;
   margin-top: 10px;
   padding: 10px 0 10px 0;
   font-size: 10px;
   justify-content: center;
   align-items: center;
   color: gray;
   border-top: 1px solid gray;
   border-bottom: 1px solid gray;
}
#rating>div {
   margin-left: 10px;
   margin-right: 20px;
   color: black;
}
#left>h3 {
   margin-top: 17px;
   margin-bottom: 15px;
}
#left>div {
   margin-bottom: 25px;
}
#hot {
   display: flex;
   overflow-x: scroll;
   scroll-behavior: smooth;
}
#hot>div {
   border: 1px solid black;
   border-right: none;
   margin-bottom: 5px;
}
#hot>div:last-child {
   border-right: 1px solid black;
}
#hot>div>div>img {
   height: 138px;
   width: 199px;
}
#hot>div>div:first-child {
   padding: 25px 0 13px 25px;
   font-size: 13px;
}
#hot>div>div:last-child {
   padding: 0 0 0 45px;
   margin-bottom: -4px;
}
.common {
   display: flex;
   gap: 15px;
   overflow-x: scroll;
   scroll-behavior: smooth;
}
.common::-webkit-scrollbar {
   display: none;
}
.common>div {
   border: 1px solid gray;
}
.common>div>div {
   display: flex;
}
.common>div>div>div {
   display: flex;
   margin: -15px 0 -15px 0;
}
.common>div>div>div:first-child {
   margin-right: -35px;
}
.common img {
   height: 65%;
   margin: auto;
}
.common p {
   margin: 0 20px 10px 20px;
}
.last>div {
   margin-bottom: 50px;
}
#close:hover {
   cursor: pointer;
}
#helpDown {
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   width: 170px;
   padding: 25px;
   position: absolute;
   right: 125px;
   top: 39px;
   background-color: white;
}
#helpDown>div {
   border-bottom: 1px solid black;
   padding: 15px;
   font-size: 13px;
}
#helpDown a:hover {
   text-decoration: underline;
}
#c1 {
   font-size: 26px;
   height: 29px;
   position: absolute;
   left: 10%;
   top: 405px;
   padding: 1.3% 2%;
   border-radius: 50px;
   border: 1.5px solid;
   background-color: white;
}
#c2 {
   font-size: 26px;
   height: 29px;
   position: absolute;
   right: 10%;
   top: 405px;
   padding: 1.3% 2%;
   border-radius: 50px;
   border: 1.5px solid;
   background-color: white;
}
#d1 {
   font-size: 26px;
   height: 29px;
   position: absolute;
   left: 10%;
   top: 640px;
   padding: 1.3% 2%;
   border-radius: 50px;
   border: 1.5px solid;
   background-color: white;
}
#d2 {
   font-size: 26px;
   height: 29px;
   position: absolute;
   right: 10%;
   top: 640px;
   padding: 1.3% 2%;
   border-radius: 50px;
   border: 1.5px solid;
   background-color: white;
}
#s1 {
   font-size: 26px;
   height: 29px;
   position: absolute;
   left: 10%;
   top: 873px;
   padding: 1.3% 2%;
   border-radius: 50px;
   border: 1.5px solid;
   background-color: white;
}
#s2 {
   font-size: 26px;
   height: 29px;
   position: absolute;
   right: 10%;
   top: 873px;
   padding: 1.3% 2%;
   border-radius: 50px;
   border: 1.5px solid;
   background-color: white;
}
#sn1 {
   font-size: 26px;
   height: 29px;
   position: absolute;
   left: 10%;
   top: 1103px;
   padding: 1.3% 2%;
   border-radius: 50px;
   border: 1.5px solid;
   background-color: white;
}
#sn2 {
   font-size: 26px;
   height: 29px;
   position: absolute;
   right: 10%;
   top: 1103px;
   padding: 1.3% 2%;
   border-radius: 50px;
   border: 1.5px solid;
   background-color: white;
}